.network-background-3d {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  pointer-events: none;
}

.network-background-3d canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
